
.jumbotron{
    background-color: rgb(255, 0, 0) !important;
    color:red;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}